# MongoDB
DATABASE_URL="mongodb+srv://username:password@cluster.mongodb.net/dalacar?retryWrites=true&w=majority"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-use-openssl-rand-base64-32"

# SMS Mock Code (для разработки)
SMS_MOCK_CODE="1234"
